
{include file=comm/head.html}
<div class="index contact" num='0'>
    <!-- <div class="pc-port">
        <div class="banner">
            <img src="/images/banner-contact.png" alt="">
        </div>
    </div>
    <div class="phone-port">
        <div class="banner-hpone">
            <img src="/images/banner-contact-phone.png" alt="">
        </div>
    </div> -->
    <div class="main">
        <div class="yf coninput">
            <div class="contac-top">
                <div>Inquiry</div>
                <div>Please feel free to contact with us we’ll reply you soon.</div>
            </div>
            <form action="{pboot:form fcode=3}"  method="post">
            <div class="contacdesc">
                <div class="contacdesc-top">
                    <div class="contacdesc-topleft">
                        <div>SHANGHAI LANGA AUTOMOBILE PARTS CO., LTD</div>
                    </div>
                    <div class="contacdesc-topright">
                        <div>
                            TEL <span>0086-21-58433106</span>
                        </div>
                    </div>
                </div>
                <div class="shuru bitian">
                    <div>
                        <span>Official Name</span>
                        </div>
                    <div><input type="text" name="official_name"></div>
                </div>
                <div class="shuru bitian">
                    <div>
                        <span>Company Name</span>
                        </div>
                    <div><input type="text" name="company_name"></div>
                </div>
                <div class="shuru bitian">
                    <div>
                        <span>Company address</span>
                        </div>
                    <div><input type="text" name="company_address"></div>
                </div>
                <div class="shuru bitian">
                    <div>
                        <span>Name</span>
                        </div>
                    <div><input type="text" name="name"></div>
                </div>
                <div class="shuru bitian">
                    <div>
                        <span>Telephone number</span>
                        </div>
                    <div><input type="text" name="telephone_number"></div>
                </div>
                <div class="shuru bitian">
                    <div>
                        <span>E-mail</span>
                       </div>
                    <div><input type="text" name="mailbox"></div>
                </div>
                <div class="shuru bitian liuyan">
                    <div>
                        <span>Refer</span>
                        </div>
                    <!-- <div class="contactly" contenteditable="true"></div> -->
                    <!-- <input type="text" style="" name="consulting_service"> -->
                    <div>
                        <textarea name="consulting_service" id="content" class="form-control" placeholder=""></textarea>
                    </div>

                </div>
                <div class="contactj">
                    <span>
                        <button type="submit">Confirm Submission</button>
                    </span>
                </div>
            </div>
        </form>
        </div>
        <div class="conman">
            <ul>
                <li>
                    <div><img src="/images/conman1.svg" alt=""></div>
                    <div>
                        <div class="conman-name">Anny：</div>
                        <div class="conman-phone">
                            <a href="">
                                WhatsApp 
                                <span>86-18964175673</span>
                            </a>
                        </div>
                        <div class="conman-name">E-mail：</div>
                        <div class="conman-phone">anny@langa-auto.com</div>
                    </div>
                </li>
                <li>
                    <div><img src="/images/conman2.svg" alt=""></div>
                    <div>
                        <div class="conman-name">Slyvia：</div>
                        <div class="conman-phone">
                            <a href="">
                                WhatsApp 
                                <span>86-18553651124</span>
                            </a>
                        </div>
                        <div class="conman-name">E-mail：</div>
                        <div class="conman-phone">Slyvia@langa-auto.com</div>
                    </div>
                </li>
                <li>
                    <div><img src="/images/conman3.svg" alt=""></div>
                    <div>
                        <div class="conman-name">Tina: </div>
                        <div class="conman-phone">
                            <a href="">
                                WhatsApp 
                                <span>86-15102138085</span>
                            </a>
                        </div>
                        <div class="conman-name">E-mail：</div>
                        <div class="conman-phone">Tina@langa-auto.com</div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
{include file=comm/foot.html}
