{include file=comm/head.html}

<div class="index news" num='0'>
	<div class="main">
		<div class="yuanfang">
			<div class="newstop">
				<span>新闻与公告</span><span class="show">会议与活动</span>
			</div>
			<div class="newls">
				<div class="">
					<div class="newlslsdesc">
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc1.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli xwgg ">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc2.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
						<div class="newlsli hyhd">
							<div class="newsimg">
								<div>
									<a href="">
										<img src="/images/newsdesc3.png" alt="">
									</a>
								</div>
								<span class="xuanfusvg">
									<a href="">
										<img src="/images/lv-jiantou.svg" alt="">
									</a>
								</span>
							</div>
							<div class="newlswste">
								<div>随着高通量测序技术的普及，更多的新基因，新表型，新位点被发现，而这些临床发现所蕴含的巨大科研意义和转化价值，都将需要功能验证数据的支持得以体现和最大化。</div>
								<div><a href="">Learn more</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
<script>
	$(function () {
		$('.news .newstop span').click(function () {
			$('.news .newstop span').removeClass('show')
			$(this).addClass('show')
			console.log(123);
		})
	})
</script>
{include file=comm/foot.html}