{include file=comm/head.html}
<div class="index qanda" num='0'>
    <div class="main ">
      <div class="yf qandadesc">
          <div class="qatitle">Q&A</div>
          <div class="qadesc">
              <ul>
                  <li>
                      <div class="qaq">
                          <div>Q:</div>
                          <div>How to order?</div>
                      </div>
                      <div class="qaa">
                        <div>A:</div>
                        <div>1. Please tell us what kind of auto part and the quantity you need;<br>
                            2. We will make a PI for you to confirm the order details;<br>
                            3. When we confirmed everything, can arrange the payment;<br>
                            4. Finally we deliver the goods with the stipulated time.</div>
                    </div>
                  </li>
                  <li>
                    <div class="qaq">
                        <div>Q:</div>
                        <div>What’s the payment terms for our order?</div>
                    </div>
                    <div class="qaa">
                      <div>A:</div>
                      <div>We accept Paypal,T/T, Trade assurance, and L/C at sight payment.</div>
                  </div>
                </li>
                <li>
                    <div class="qaq">
                        <div>Q:</div>
                        <div>When will you make delivery?</div>
                    </div>
                    <div class="qaa">
                      <div>A:</div>
                      <div>3-7 days after receipt of the full payment.</div>
                  </div>
                </li>
                <li>
                    <div class="qaq">
                        <div>Q:</div>
                        <div>Can you put our logo or company name on the product or package?</div>
                    </div>
                    <div class="qaa">
                      <div>A:</div>
                      <div>Yes, of course. Your logo or company name can be put on your product or the package.</div>
                  </div>
                </li>
                <li>
                    <div class="qaq">
                        <div>Q:</div>
                        <div>How can you guarantee the quality of your products?</div>
                    </div>
                    <div class="qaa">
                      <div>A:</div>
                      <div>Quality is everything.
                        1. For each finished items, it requires to be passed hundreds of times’inner inspection, as QC staff check on each production 
                        process;<br>
                    2. For each model of finished items we keep doing at least 1 month test.
                      </div>
                  </div>
                </li>
                <li>
                    <div class="qaq">
                        <div>Q:</div>
                        <div>How can you guarantee the quality of your products?</div>
                    </div>
                    <div class="qaa">
                      <div>A:</div>
                      <div>There is no request. We accept small qty trial order. </div>
                  </div>
                </li>
                <li>
                    <div class="qaq">
                        <div>Q:</div>
                        <div>Do you support drop shipping?</div>
                    </div>
                    <div class="qaa">
                      <div>A:</div>
                      <div>Yes, your drop shipping is available.</div>
                  </div>
                </li>
    
              </ul>
          </div>
    
      </div>
    </div>
        </div>
{include file=comm/foot.html}
